<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>

<body>
  <!-- Navbar -->
  <nav class="bg-gradient-to-b sticky from-slate-300	z-50 to-lime-900 top-0 border-gray-200 px-2 sm:px-4  ">
    <div class=" mx-auto" style="width:95%">
      <div class="container flex flex-wrap items-center justify-between ">
        <a href="#" class="flex items-center">
          <span class="self-center text-5xl font-bold whitespace-nowrap dark:text-white">LOGO</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:border-gray-700">
            <li>
              <a href="#" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent active:underline">Home</a>
            </li>
            <li>
              <a href="index.html" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Menu</a>
            </li>
            <li>
              <a href="berlangganan.html" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Langganan</a>
            </li>
            <li>
              <a href="payment.html" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pesanan</a>
            </li>
            <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent text-4xl text-black"><i class="fa-solid fa-circle-user"></i></button>
              <!-- Dropdown menu -->
              <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile Saya</a>
                  </li>
                </ul>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Sign out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->

  <!-- Food Menu Container -->
  <div id="indicators-carousel" class="relative" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="relative overflow-hidden rounded-lg md:h-96" style="height:1000px">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
        <div class="w-[90%] mb-10 mx-auto place-content-center content-center grid grid-cols-4 grid-flow-col " style="margin-top: 50px; grid-gap: 40px;">

          <!-- food item -->
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" data-modal-toggle="defaultModal"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Bakar</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <!-- End Food Item -->
        </div>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="w-[90%] mb-10 mx-auto place-content-center content-center grid grid-cols-4 grid-flow-col " style="margin-top: 50px; grid-gap: 40px;">

          <!-- food item -->
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Pop</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <!-- End Food Item -->
        </div>
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="w-[90%] mb-10 mx-auto place-content-center content-center grid grid-cols-4 grid-flow-col " style="margin-top: 50px; grid-gap: 40px;">

          <!-- food item -->
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Panggang</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <!-- End Food Item -->
        </div>
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="w-[90%] mb-10 mx-auto place-content-center content-center grid grid-cols-4 grid-flow-col " style="margin-top: 50px; grid-gap: 40px;">

          <!-- food item -->
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <div class=" bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700" style="width:290px" style="height: 414px;">
            <a href="#">
              <img class="rounded-t-lg" src="food.png" alt="" style="width:290px" />
            </a>
            <div class="p-3">
              <p class="text-2xl font-medium">Ayam Kremes</p>
              <p class="text-xs mt-3 pb-6" style="width:159px">Nasi, Ayam Pop, Perkedel, Tumis Daun Singkong</p>
              <div class=" flex" style="gap:58%">
                <p class="text-xs ">Rp. 30.000</p>
                <button type="button" class="focus:outline-none  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded text-xs p-1 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"data-modal-toggle="defaultModal">Tambah</button>
              </div>
            </div>
          </div>
          <!-- End Food Item -->
        </div>
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 gap-4 right-0" style="bottom: 50px;">
      <button type="button" class="" data-carousel-prev>
        <span class="inline-flex">
          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
          <span class=""><i class="fa-solid fa-chevron-left"></i></span>
        </span>
      </button>
      <button type="button" class="w-3 h-3 rounded-full text-base" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0">1</button>
      <button type="button" class="w-3 h-3 rounded-full text-base" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1">2</button>
      <button type="button" class="w-3 h-3 rounded-full text-base" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2">3</button>
      <button type="button" class="w-3 h-3 rounded-full text-base" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3">4</button>
      <button type="button" class="" data-carousel-next>
        <span class="inline-flex">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
          <span class=""><i class="fa-solid fa-chevron-right"></i></span>
        </span>
      </button>
    </div>
    <!-- Slider controls -->
  </div>
  
  <!-- End Food Menu Container -->

  <!--Button Pemesanan -->
  <div class=""  style="margin-top: -30px;height: 90px;">
    <div class="relative" style="width: 94%; ">
        <a href="payment.html" class="focus:outline-none absolute right-0  text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium text-sm px-5 py-2  mb-10 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 " style="width:260px; border-radius:20px">
        <p class="text-3xl inline mr-8">Pemesanan</p><i class="fa-solid fa-arrow-right text-3xl"></i>
    </a>
    </div>
  </div>
  <!--End Button Pemesanan  -->

  
<!-- Main modal -->
<div id="defaultModal" tabindex="-1" data-modal-placement="top-center" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 p-4 w-full md:inset-0 h-modal md:h-full">
  <div class="bg-white" style="width: 400px; border-radius: 20px;">      
        <div class="bg-green-700" style="height: 40px; width: 400px; border-radius: 20px 20px 0 0;"><i class="fa-regular fa-bell content-center text-5xl bg-yellow-200" style="border-radius: 50%; margin-left: 45%;"></i></div>
    <p class="text-center font-bold text-2xl my-4">Pesanan Telah Ditambahkan</p>
  </div>
</div>


  <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>



</html>