<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.4/dist/flowbite.min.css" />
</head>
<body>

    <!-- Navbar -->
<nav class="bg-gradient-to-b sticky from-slate-300	 to-lime-900 top-0 border-gray-200 px-2 sm:px-4  ">
    <div class=" mx-auto" style="width:95%">
      <div class="container flex flex-wrap items-center justify-between ">
        <a href="#" class="flex items-center">
          <span class="self-center text-5xl font-bold whitespace-nowrap dark:text-white">LOGO</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default">
          <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 dark:border-gray-700">
            <li>
              <a href="#" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent active:underline">Home</a>
            </li>
            <li>
              <a href="index.html" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Menu</a>
            </li>
            <li>
              <a href="berlangganan.html" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Langganan</a>
            </li>
            <li>
              <a href="payment.html" class="block font-bold text-2xl py-2 pl-3 pr-4 text-black rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pesanan</a>
            </li>
            <li>
              <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-gray-600 md:p-0 md:w-auto dark:text-gray-400 dark:hover:text-white dark:focus:text-white dark:border-gray-700 dark:hover:bg-gray-700 md:dark:hover:bg-transparent text-4xl text-black"><i class="fa-solid fa-circle-user"></i></button>
              <!-- Dropdown menu -->
              <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="py-1 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                  <li>
                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profile Saya</a>
                  </li>
                </ul>
                <div class="py-1">
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-400 dark:hover:text-white">Sign out</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  
  <!-- Alamat -->
  <div class="w-[80%] mx-auto" style="width: 85%;">
    <p class="text-4xl mb-8 mt-6">Alamat Pengantaran</p>
    <div class="flex" style="gap: 17%;">
      <div class="block" style="flex-basis: 208px;">
        <p class="font-medium text-3xl">desintauli</p>
        <p class="font-medium text-3xl">089632402790</p>
      </div>
      <p class="text-3xl" style="flex-basis: 631px;">Jl. P. Antasari, Kec Kedamaian, Kota Bandar Lampung </p>
      <a href="" class="text-2xl text-blue-700 hover:underline ">ubah</a>
    </div>
  </div>
  <hr class="my-8 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700" style="width:85% ;">
  <!--End Alamat -->

  <!-- Pemesanan -->
<div class="w-[80%] mx-auto" style="width: 85%;">
    <p class="text-4xl mt-6">Total Harga</p>   
    
    <div class="mt-4 mb-4" style="width: 90%;">
        <div class="">
      <p class="text-3xl text-right">Sejumlah &nbsp;&nbsp;&nbsp;<span class="" style="margin-right:60px;">:</span>Rp. 60.000</p></div>
      </div>

      <hr class="my-8 h-px mx-auto bg-gray-200 border-0 dark:bg-gray-700" style="width:100% ;">
      <p class="text-4xl mt-6 mb-4">Metode Pembayaran</p>
      <div class="flex">
        <div class="mx-auto">
      <table lass="border-b-2 border-black" style="width: 1300px;">
        <tr style="height: 70px;">
            <td class="font-medium text-center" style="font-size:28px; width: 20%">BCA</td>
            <td class="font-medium text-center" style="font-size:28px; width: 33%">1234567890</td>
            <td class="font-medium text-center" style="font-size:28px; width: 33%">A/N Restu</td>
        </tr>
        <tr class="border-b-2 border-black" style="height: 70px;">
            <td class="font-medium text-center" style="font-size:28px; width: 20%">Dana</td>
            <td class="font-medium text-center" style="font-size:28px; width: 33%">082164945342</td>
            <td class="font-medium text-center" style="font-size:28px; width: 33%">A/N Restu</td>
        </tr>
    </table>
    <p class="text-4xl mt-6 mb-4">Unggah Bukti Pembayaran</p>
    <!-- File Input -->
    <div class="flex pb-8">
<div class=" items-center justify-center " style="width: 672px;">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full border-2 border-gray-300 border-solid rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
        <div class="flex flex-col items-center justify-center " style="height: 50px;">
        </div>
        <input id="dropzone-file" type="file" class="hidden" />
    </label>
</div> 
<button type="button" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" style="margin-left:30px" onclick="$('#dropzone-file').click()" data-modal-toggle="defaultModal">Upload</button>
</div>

<div class="pb-5" style="padding-bottom: 70px;"> 
    <div class="relative" style="width: 100%;">
    <button type="button" id="payment" class="focus:outline-none absolute right-0 text-white bg-green-700 hover:bg-green-800 focus:ring-4  focus:ring-green-300 font-medium rounded-lg text-2xl px-10 py-1  mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="width:192px">Pesan</button>
    </div>
    </div>



</div>
</div>
<div id="defaultModal" tabindex="-1" data-modal-placement="top-center" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 p-4 w-full md:inset-0 h-modal md:h-full">
  <div class="bg-white" style="width: 400px; border-radius: 20px;">      
        <div class="bg-green-700" style="height: 40px; width: 400px; border-radius: 20px 20px 0 0;"><i class="fa-regular fa-bell content-center text-5xl bg-yellow-200" style="border-radius: 50%; margin-left: 45%;"></i></div>
    <p class="text-center font-bold text-2xl my-4">Pesanan Telah Ditambahkan</p>
  </div>
</div>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="js/index.js"></script>
</body>
</html>